<div id="app"><%-html%></div>
<script>
    user = <%- user && JSON.stringify(user) %>;
    console.log('title <%-title%>');
</script>
<script src="/js/TweenMax.min.js"></script>
<script src="//localhost:9091/app/app.js"></script>