<!DOCTYPE html>
<html>
  <head>
    <title><%-title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/@reset.css">
    <link rel="stylesheet" href="/styles/codrop-input-set1.css">
    <link rel="stylesheet" href="/styles/icon-moon.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/fonts/thaisans_neue/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/fonts/lato/Lato.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="app"></div>		
		<script src="/js/TweenMax.min.js"></script>
		<script src="/app/app.js"></script>
  </body>
</html>
