commands:
  install_thai_locale:
    command: "localedef -i th_TH -c -f UTF-8 th_TH.UTF-8 && yum install libthai"
    ignoreErrors: true
  set_encoding:
    command: "./exports_locale.sh"
    ignoreErrors: true
  install_javac:
    command: "yum -y install java-devel"
  do_update_yum:
    command: "yum -y update"
    ignoreErrors: true
container_commands:
  01_copy-nginx-conf:
    command: "cp -f .ebextensions/nginx/nginx.conf /tmp/deployment/config/etc#nginx#nginx.conf"
  02_install-grunt-global:
    command: "/opt/elasticbeanstalk/node-install/node-v0.12.4-linux-x64/bin/npm install grunt-cli -g"